<!-- table_template.html -->
<table class="custom-table">
    <tr>
        <th>KA</th>
        <th>Knowledge Area</th>
        <th>Knowledge Unit</th>
        <th>Knowledge Topic</th>
        <th>Knowledge Subtopic</th>
        <th>CWE ID</th>
        <th>CWE Title</th>
        <th>CWE URL</th>
        <th>CVE ID</th>
        <th>CVE URL</th>
    </tr>
    <tr>
        <td>{kA}</td>
        <td>{knowledgeArea}</td>
        <td>{knowledgeUnit}</td>
        <td>{knowledgeTopic}</td>
        <td>{knowledgeSubtopic}</td>
        <td>{cweId}</td>
        <td>{cweTitle}</td>
        <td>{cweUrl}</td>
        <td>{cveId}</td>
        <td>{cveUrl}</td>
        <!--
        <td style="min-width: 150px;">{cveId}</td>
        <td style="min-width: 150px;">{cveId}</td>
        <td>{cveUrl}</td>
        -->
    </tr>
</table>
